.header {
  width: 100%;
  min-height: 154px;
  @include flex();
  position: relative;
  @media (max-width: $IpadWidth) {min-height: 124px;
  }
  &__logo {
    width: 183.86px;
    height: 67px;
    margin-top: 23px;
    @media (max-width: $IpadWidth) {
      margin-left: 30px;
    }
    @media (max-width: $MobileWidth) {
      margin-left: 0;
    }
  }
  &__title {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0);
    @media (max-width: $IpadWidth) {
      left: 58.2%;
      bottom: 41.1%;
    }
    @media (max-width: $MobileWidth) {
      width: 100%;
      left: 54.6%;
      bottom: -2.6px;
    }
  }
}
