@import "common/reset";
@import "common/mixins";
@import "common/fonts";


body {
  font-size: 16px;
  display: flex;
  background: url("../img/Landing-Page.png") 0 0 no-repeat;
}

span {
  font-size: 20px;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

div {
  font-size: 30px;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
